
{% extends "base.html" %}
{% block content %}
<div class="row mx-sm-4">
  <div class="col-sm-4">
    <h1>Browse</h1>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>City</label>
          {{ form.city(class="form-control form-control-md", placeholder="City") }}
        </div>
        <div class="form-group col-md-6">
          <label>Category</label>
          {{ form.category(class="form-control form-control-md", placeholder="Category") }}
        </div>
        <div class="form-group col-md-6">
          <label>Maximum Price</label>
          {{ form.maxPrice(class="form-control form-control-md", placeholder="Maximum Price") }}
        </div>
      </div>
      <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
  <div class="col-sm-8">
    <div class="row py-sm-4">
      <h4>Items available for rent.</h4>
    </div>
    <div class="row">
      {% for row in data %}
      <table class="table table-light mx-sm-4">
        <thead>
          <tr>
            <th style="width: 20%"></th>
            <th style="width: 60%"></th>
            <th style="width: 20%"></th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row">
            <th class="text-right">name:</th>
            <td>{{row[0]}}</td>
            <td class="align-middle" rowspan="4">
              <a type="submit" class="btn btn-success text-center d-flex justify-content-center" href="/browse/item/rent/{{row[0]}}">Rent Item</a>
            </td>
          </tr>
          <tr scope="row">
            <th class="text-right">category:</th>
            <td>{{row[1]}}</td>
          </tr>
          <tr scope="row">
            <th class="text-right">description:</th>
            <td>{{row[3]}}</td>
          </tr>
          <tr scope="row">
            <th class="text-right">daily rate:</th>
            <td>{{row[4]}}</td>
          </tr>
        </tbody>
      </table>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content%}
