{% extends "base.html" %}
{% block content %}
          <div class="row">
              <div class="col">
              </div>
              <div class="col-8">
                <h1>All Items</h1>

                <table class="table table-sm" width="100%">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" style="width:20%" >Item</th>
                      <th scope="col" style="width:15%">Category</th>
                      <th scope="col" style="width:20%">Description</th>
                      <th scope="col" style="width:15%">Daily Rate</th>
                      <th scope="col" style="width:20%">Black-out Dates</th>
                      <th scope="col" style="width:5%"></th>
                      <th scope="col" style="width:5%"></th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for row in items %}
                        <tr>
                          <td>{{row[0]}}</td> <!--item name-->
                          <td>{{row[1]}}</td> <!--Category-->
                          <td>{{row[3]}} </td> <!--Description-->
                          <td>{{row[4]}}</td> <!--Daily Rate-->
                          {% if blackouts[row[0]] == "None"%} <!--Blackout dates or blackout button-->
                    <!-- Trigger the modal with a button -->
                          <td>
                            <a href="/profile/items/blackout/{{row[0]}}" class="btn btn-outline-info btn-sm btn float-left">blackout this item</a>
                          </td>
                    
                          {% else %}
                            <td>{{blackouts[row[0]]}}</td>
                          {% endif %}

                          <td> <!--Edit button-->
                            <a href="{{url_for('editItem', item=row[0])}}" class="btn btn-outline-info btn-sm btn float-left">edit</a>
                          </td>
                          <td> <!--delete button-->
                            <form method="POST" action="{{ url_for('ownerItems', t=1)}}">
                              <button name="deleteBtn" type="submit" class="btn btn-outline-info btn-sm btn float-left" value="{{row[0]}}">Delete</button>
                            </form>
                          </td>
                        </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="col">
              </div>
          </div>

{% endblock content%}
