{% extends "base.html" %}
{% block content %}
        <div class="row">
            <div class="col">
            </div>
            <div class="col-8">
              <h1 class="transaction-heading">Transaction History</h1>
              <h8>For items that have been rented out</h8>

              <h6>Pending Transactions (Requires Approval)</h6><!--Pending Transactions Table-->
              {% if pending%}
                <table class="table table-sm transaction-table" width="100%">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" style="width:30%" >Item</th>
                      <th scope="col" style="width:11%">Start Date</th>
                      <th scope="col" style="width:11%">Duration</th>
                      <th scope="col" style="width:11%">Pick Up Time</th>
                      <th scope="col" style="width:11%">Drop Off Time</th>
                      <th scope="col" style="width:25%">Renters's Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in pending %}
                      <tr>
                        <td>{{row[3]}}</td> <!--item name-->
                        <td>{{row[4]}}</td> <!--start date-->
                        <td>{{row[5]}} days</td> <!--duration-->
                        <td>{{row[6]}}</td> <!--pick up time-->
                        <td>{{row[7]}}</td> <!--drop off time-->
                        <td>{{row[1]}} <!--renter's email with approve button-->
                          <form method="POST" action="{{ url_for('ownerTransactions', t=1)}}">
                            <button name="approveBtn" type="submit" class="btn btn-outline-info btn-sm btn float-left" value={{row[0]}}>Approve</button
                          </form>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
              <h8>None at the moment</h8>
              {% endif %}

              <h6>Booked Transactions</h6><!--Booked Transactions Table-->
              {% if booked%}
                <table class="table table-sm transaction-table" width="100%">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" style="width:30%">Item</th>
                      <th scope="col" style="width:11%">Start Date</th>
                      <th scope="col" style="width:11%">Days Remaining</th>
                      <th scope="col" style="width:11%">Pick Up Time</th>
                      <th scope="col" style="width:11%">Drop Off Time</th>
                      <th scope="col" style="width:25%">Renters's Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for (row, i) in zip(booked,days_remaining) %}
                      <tr>
                        <td>{{row[3]}}</td> <!--item name-->
                        <td>{{row[4]}}</td> <!--start date-->
                        <td>{{i}}</td> <!--days remaining-->
                        <td>{{row[6]}}</td> <!--pick up time-->
                        <td>{{row[7]}}</td> <!--drop off time-->
                        <td>{{row[1]}} <!--renter's email with complete button-->
                          <form method="POST" action="{{ url_for('ownerTransactions', t=0)}}">
                            <button name="completeBtn" type="submit" class="btn btn-outline-info btn-sm btn float-left" value={{row[0]}}>Mark as Complete</button>
                          </form>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
              <h8>None at the moment</h8>
              {% endif %}

              <h6>Completed Transactions</h6> <!--Completed Transactions Table-->
              {% if complete%}
                <table class="table table-sm transaction-table" width="100%">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" style="width:30%">Item</th>
                      <th scope="col" style="width:25%">Renter's Email</th>
                      <th scope="col" style="width:15%">Rating</th>
                      <th scope="col" style="width:30%">Review</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in complete %}
                      <tr>
                        <td>{{row[3]}}</td> <!--item name-->
                        <td>{{row[1]}}</td> <!--renter's email-->
                        <td>{{row[9]}}</td> <!--rating-->
                        <td>{{row[10]}}</td> <!--review-->
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
              <h8>None at the moment</h8>
              {% endif %}
            </div>
            <div class="col">
            </div>
        </div>
{% endblock content%}
