{% extends "base.html" %}
{% block content %}
          <div class="row">
              <div class="col-3">
              </div>
              <div class="col-6">
                <h1>{{g.user['First_name']}} {{g.user['Last_name']}}</h1>
                <br>
                <div class="card user-card">
                  <div class="row">
                    <div class="d-flex col-md">
                      <a href="{{url_for('ownerTransactions')}}" class="card-body text-user-stats">
                        <div class="text-muted">Items Rented Out</div>
                        <div class="text-xlarge">{{o_rentals}}</div>
                      </a>
                    </div>
                    <div class="d-flex col-md">
                      <a href="{{url_for('renterTransactions')}}" class="card-body text-user-stats">
                        <div class="text-muted">Items Borrowed</div>
                        <div class="text-xlarge">{{r_rentals}}</div>
                      </a>
                    </div>
                    <div class="d-flex col-md">
                      <a href="{{url_for('ownerItems')}}" class="card-body text-user-stats">
                        <div class="text-muted">All Items</div>
                        <div class="text-xlarge">{{items}}</div>
                      </a>
                    </div>
                  </div>
                  <div class="card-body user-info-card">
                    <table class="table user-table m-0 ">
                      <tbody>
                        <tr>
                          <td id ="td-thickness">Email:</td>
                          <td>{{g.user['Email']}}</td>
                        </tr>
                        <tr>
                          <td id ="td-thickness">Date of Birth:</td>
                          <td>{{g.user['DoB']}}</td>
                        </tr>
                        <tr>
                          <td id ="td-thickness">Address:</td>
                          <td>{{g.user['Street_address']}}, {{g.user['City']}}, {{g.user['Province']}} {{g.user['Postal_code']}}</td>
                        </tr>
                        {% if interests%}
                          <tr>
                            <td id ="td-thickness">Interests:</td>
                            <td>{{interests}}</td>
                          </tr>
                        {%else%}
                          <tr>
                            <td id ="td-thickness">Interests:</td>
                            <td>None</td>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <br>
                <button type="button" class="btn btn-outline-info btn-sm float-right " onclick="window.location.href='{{ url_for('editProfile') }}'">Edit Profile</button>
                <button type="button" class="btn btn-outline-info btn-sm float-right profile-button" onclick="window.location.href='#'">Add Interests</button>
              </div>
              <div class="col-3">
              </div>
          </div>

{% endblock content%}
