{% extends "base.html" %}
{% block content %}
          <div class="row">
              <div class="col-sm">
              </div>
              <div class="col-sm">
                <h1>{{g.user['First_name']}} {{g.user['Last_name']}}</h1>
                <br>
                <div class="card">
                  <div class="row no-gutters row-bordered">
                    <div class="d-flex col-md align-items-center">
                      <a href="{{url_for('ownerTransactions')}}" class="card-body d-block text-body">
                        <div class="text-muted small line-height-1">Items Rented Out</div>
                        <div class="text-xlarge">{{o_rentals}}</div>
                      </a>
                    </div>
                    <div class="d-flex col-md align-items-center">
                      <a href="{{url_for('renterTransactions')}}" class="card-body d-block text-body">
                        <div class="text-muted small line-height-1">Items Rented</div>
                        <div class="text-xlarge">{{r_rentals}}</div>
                      </a>
                    </div>
                  </div>
                  <div class="card-body about-card">
                    <table class="table user-table m-0">
                      <tbody>
                        <tr>
                          <td>Email:</td>
                          <td>{{g.user['Email']}}</td>
                        </tr>
                        <tr>
                          <td>Date of Birth:</td>
                          <td>{{g.user['DoB']}}</td>
                        </tr>
                        <tr>
                          <td>Address:</td>
                          <td>{{g.user['Street_address']}}, {{g.user['City']}}, {{g.user['Province']}}, {{g.user['Postal_code']}}</td>
                        </tr>
                        {% if interests%}
                          <tr>
                            <td>Interests:</td>
                            <td>{{interests}}</td>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <br>
                <button type="button" class="btn btn-outline-info btn-sm float-right" onclick="window.location" href="{{url_for('editProfile')}}">Edit Info</button>
              </div>
              <div class="col-sm">
              </div>
          </div>

{% endblock content%}
