{% extends "base.html" %}
{% block content %}
  <form method="POST" action="">
    {{ form.hidden_tag() }} <!--don't forget this-->

    {{ form.email.label() }}
    {{ form.email() }}
    <br />
    <br />
    {{ form.password.label() }}
    {{ form.password() }}
    <br />
    <br />
    {{ form.fname.label() }}
    {{form.fname() }}
    <br />
      <br />
    {{ form.lname.label() }}
    {{form.lname() }}
    <br />
    <br />
    {{form.dob.label() }}
    {{form.dob() }}
    <br />
    <br />
    {{form.street.label() }}
    {{form.street() }}
    <br />
    <br />
    {{form.city.label() }}
    {{form.city() }}
    <br />
    <br />
    {{form.province.label() }}
    {{form.province() }}
    <br />
    <br />
    {{form.postalCode.label() }}
    {{form.postalCode() }}
    <br />
    <br />

    {{ form.submit() }}
  </form>
{% endblock content%}
