{% extends "base.html" %}
{% block content %}
        <div class="row">
            <div class="col">
            </div>
            <div class="col-8">
              <h1 class="transaction-heading">Transaction History</h1>
              <h8>For items that you have rented</h8>

              <h6>Pending Transactions (Requires Approval from Owner)</h6> <!--Pending Transactions Table-->
              {% if pending%}
                <table class="table table-sm transaction-table" width="100%">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" style="width:30%" >Item</th>
                      <th scope="col" style="width:25%">Owners's Email</th>
                      <th scope="col" style="width:11%">Start Date</th>
                      <th scope="col" style="width:11%">Duration</th>
                      <th scope="col" style="width:11%">Pick Up Time</th>
                      <th scope="col" style="width:11%">Drop Off Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in pending %}
                      <tr>
                        <td>{{row[3]}}</td> <!--item name-->
                        <td>{{row[2]}}</td> <!--owner's email-->
                        <td>{{row[4]}}</td> <!--start date-->
                        <td>{{row[5]}} days</td> <!--duration-->
                        <td>{{row[6]}}</td> <!--pick up time-->
                        <td>{{row[7]}}</td> <!--Drop off time-->
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
              <h8>None at the moment</h8>
              {% endif %}

              <h6>Ongoing Rentals</h6> <!--Booked Transactions Table-->
              {% if booked%}
                <table class="table table-sm transaction-table" width="100%">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" style="width:30%">Item</th>
                      <th scope="col" style="width:25%">Owners's Email</th>
                      <th scope="col" style="width:11%">Start Date</th>
                      <th scope="col" style="width:11%">Days Remaining</th>
                      <th scope="col" style="width:11%">Pick Up Time</th>
                      <th scope="col" style="width:11%">Drop Off Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for (row, i) in zip(booked,days_remaining) %}
                      <tr>
                        <td>{{row[3]}}</td> <!--item name-->
                        <td>{{row[2]}}</td> <!--owner's email-->
                        <td>{{row[4]}}</td> <!--start date-->
                        <td>{{i}}</td> <!--days remaining in rental-->
                        <td>{{row[6]}}</td> <!--pick up time-->
                        <td>{{row[7]}}</td> <!--Drop off time-->
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
              <h8>None at the moment</h8>
              {% endif %}

              <h6>Completed Transactions</h6> <!--Completed Transactions Table-->
              {% if complete%}
                <table class="table table-sm transaction-table" width="100%">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" style="width:30%" >Item</th>
                      <th scope="col" style="width:25%">Owners's Email</th>
                      <th scope="col" style="width:15%">Your Rating</th>
                      <th scope="col" style="width:30%">Your Review</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in complete %}
                      <tr>
                        <td>{{row[3]}}</td> <!--item name-->

                        <td><!--owner email and report button-->
                          <span>{{row[2]}}</span> <br>
                          <span><a type="submit" class="btn btn-outline-info btn-sm float-left" href="/profile/renter/report/{{row[2]}}">Report User</a></span>
                        </td>

                        {% if row[9] != None%}<!--rating or rate button-->
                          <td id="rating">{{row[9]}}</td>
                        {% else %}
                          <td>
                            <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#rateModal">Rate</button>
                            <div class="modal fade" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="rateModalTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="rateModal">Rate your rental experience</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="POST" action="{{ url_for('renterTransactions', rate=1)}}">
                                        <div class="form-group">
                                          <div class="input-group">
                                            <select class="form-control" id="ratingSelect" name="rating">
                                              <option>1</option>
                                              <option>2</option>
                                              <option>3</option>
                                              <option>4</option>
                                              <option>5</option>
                                            </select>
                                            <div class="input-group-append">
                                              <button type="submit" class="btn btn-outline-primary float-right" name="ratingBtn" value="{{row[0]}}">Save</button>
                                            </div>
                                          </div>
                                        </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        {% endif %}

                        {% if row[10] != None%} <!--review or review button-->
                          <td>{{row[10]}}</td>
                        {% else %}
                          <td>
                            <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#reviewModal">Review</button>
                            <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="reviewModal">Review your rental experience</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="POST" action="{{ url_for('renterTransactions', rate=0)}}">
                                        <label for="message-text" class="col-form-label">Write your review:</label>
                                        <textarea class="form-control" id="message-text" name="review"></textarea>
                                        <button type="submit" class="btn btn-outline-primary float-right modal-button" name="reviewBtn" value="{{row[0]}}">Save</button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
              <h8>None at the moment</h8>
              {% endif %}
            </div>
            <div class="col">
            </div>
        </div>
{% endblock content%}
