{% extends "base.html" %}
{% block content %}
<!--TODO: Fix margins of headings instead of using <br> , add text wrapping to columns (maybe add a read more option for the reviews)-->
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
              <h1>Transaction History</h1>
              <h8>For items that you have rented</h8>
              <br>
              <br>
              <h6>Pending Transactions (Requires Approval from Owner)</h6>
              {% if pending%}
                <table class="table table-sm">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Item</th>
                      <th scope="col">Duration</th>
                      <th scope="col">Pick Up Time</th>
                      <th scope="col">Drop Off Time</th>
                      <th scope="col">Owners's Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in pending %}
                      <tr>
                        <td>{{row[3]}}</td>
                        <td>{{row[5]}} days</td>
                        <td>{{row[6]}}</td>
                        <td>{{row[7]}}</td>
                        <td>{{row[2]}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
              <h8>None at the moment</h8>
              {% endif %}
              <br>
              <br>
              <h6>Ongoing Rentals</h6>
              {% if booked%}
                <table class="table table-sm">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Item</th>
                      <th scope="col">Duration</th>
                      <th scope="col">Pick Up Time</th>
                      <th scope="col">Drop Off Time</th>
                      <th scope="col">Owners's Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in booked %}
                      <tr>
                        <td>{{row[3]}}</td>
                        <td>{{row[5]}} days</td>
                        <td>{{row[6]}}</td>
                        <td>{{row[7]}}</td>
                        <td>{{row[2]}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
              <h8>None at the moment</h8>
              {% endif %}
              <br>
              <br>
              <h6>Completed Transactions</h6>
              {% if complete%}
                <table class="table table-sm">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Item</th>
                      <th scope="col">Your Rating</th>
                      <th scope="col">Your Review</th>
                      <th scope="col">Owners's Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in complete %}
                      <tr>
                        <td>{{row[3]}}</td>
                        {% if row[9] != None%}
                          <td>{{row[9]}}</td>
                        {% else %}
                          <td>
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#rateModal">Rate</button>
                            <div class="modal fade" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="rateModalTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="rateModal">Rate your rental experience</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="POST" action="{{ url_for('renterTransactions', rate=1)}}">
                                        <label for="message-text" class="col-form-label">Rating (1-5):</label>
                                        <input type="text" class="form-control" name="rating">
                                        <button type="submit" class="btn btn-primary float-right" name="ratingBtn" value="{{row[0]}}">Save</button> <!--fix button placement later-->
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        {% endif %}
                        {% if row[10] != None%}
                          <td>{{row[10]}}</td>
                        {% else %}
                          <td>
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#reviewModal">Review</button>
                            <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="reviewModal">Review your rental experience</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="POST" action="{{ url_for('renterTransactions', rate=0)}}">
                                        <label for="message-text" class="col-form-label">Write your review:</label>
                                        <textarea class="form-control" id="message-text" name="review"></textarea>
                                        <button type="submit" class="btn btn-primary float-right" name="reviewBtn" value="{{row[0]}}">Save</button> <!--fix button placement later-->
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        {% endif %}
                        <td>{{row[2]}} <button type="button" class="btn btn-info btn-sm float-right">Report User</button></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
              <h8>None at the moment</h8>
              {% endif %}
            </div>
            <div class="col">
            </div>
        </div>
{% endblock content%}
